@import "nav.css";

main {
  margin: 0;
  padding: 1rem;
  background: var(--bg-main);
  color:var(--text-primary);
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  height: 100vh;
}


:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --bg-main: #ffffff;
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #cecece;
    --bg-secondary: #e4e4e4;
    --ac-primary: #b40cc3;

    --transition-speed: 600ms;
  }
  
  body {
    color: var(--text-primary);
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--bg-primary)
    
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--ac-primary)
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-main: #23232e;
      --text-primary: #b6b6b6;
      --text-secondary: #ececec;
      --bg-primary: #363643;
      --bg-secondary: #2e2e36;
      --ac-primary: #FF00EE;
      --ac-primary-hover: #810979;
      --ac-secondary: #ef71e6;
      --ac-secondary-hover: #743970;

      --text-ac-primary: #292525;
    }


  }
  
    /* Large screens */
    @media only screen and (min-width: 600px) {
      main {
        margin-bottom: 0;
        margin-left: 5rem;
        flex-direction: row;
      }
    }

