/*mobile version*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    height: max-content;
    
}

.personalia {
    background-image: linear-gradient(rgba(145, 15, 136, 0.75),rgba(250,248,248,0.5));
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    background-color: rgba(250,248,248,0.5);
    width: 100%;
}

.person-logo {
    border: 4px solid black;
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
    width: 20%;
    animation: glow 3s ease alternate;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: rgba(0, 0, 0, 0.96);
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    display: none;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__institute {
    color:  rgba(140, 39, 133, 0.96);
    margin-top: 0px;
    font-size: 14px;
}

.profile-content__personalia {
    color: rgba(0, 0, 0, 1);
    margin-top: 0px;
    font-size: 14px;
    text-wrap: nowrap;
}

.profile-content__period{
    display: none;
}

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .personalia {
        background-image: linear-gradient(-90deg, rgba(250,248,248,0.5), rgba(145, 15, 136, 0.75));
        width: min-content;
        padding: 8px;
    }

    .person-name{
        order: -1;
    }

    .person-logo {
        border: 4px solid black;
        border-radius: 50%;
        margin: 15px 0px 15px 0px;
        width: 75%;
        animation: glow 3s ease alternate;
    }
    .profile-content__category--hidden-mobile{
        display: flex;
        flex-direction: column;
    }

    /*fix: anders als stipje zichtbaar*/
    .profile-content__category--hidden-mobile hr{
        width: 100%;
    }

    .profile-content__period{
        display: flex;
        font-size: 12px;
    }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header{
        display: flex;
        justify-content: space-between;
    }
}
/*student uitwerking*/

