.primary-path--stroke {
    stroke:  var(--text-secondary);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; 
    stroke-width: 3;
    fill: none;
  }

  .primary-path--fill {
    fill:  currentColor;
    color: var(--text-secondary);
  }

  .secondary-path--fill {
    color: var(--ac-primary);
    fill: currentColor;
  }

  .SVG-error{
    color: #fa4141;
    fill: currentColor;
  }

  .SVG-done{
    color: #44e249;
    fill: currentColor;
  }